footer {
	height: 130px;
	padding: 15px;
	background-color: var(--navbar-footer-color);
}

.site-logo {
	font-size: 1.2em;
	width: 75%;
	margin-left: 160px;
	justify-content: center;
	align-items: center;
}

.nav-link {
	color: var(--primary-color);
}